.game {
  background-color: #FFFAEB;
  margin: 20px;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 900px;
  width: 100%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

}

.sidebar {
  background-color: #6798C0;
  border-radius: 20px;
  width: 236px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo {
  font-weight: 100;
  margin-top: 36px;
  color: black;
  font-family: "Gajraj One", sans-serif;
  font-size: 32px;
  text-align: left;
  margin-left: 32px;
  line-height: 45px;
}

.level-select {
  box-shadow: inset 0px 2px 5px #000000;
  margin-top: 36px;
  display: flex;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
  background-color: #99D6EA;
  border-radius: 20px;
  height: 120px;
  width: 204px;
}

.rules-container {
  box-shadow: inset 0px 2px 5px #000000;
  margin-top: 36px;
  display: flex;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
  background-color: #99D6EA;
  border-radius: 20px;
  height: 180px;
  width: 204px;
  padding: 16px 0;
}

.rules-text ul {
  list-style: none;
  text-align: left;
  padding: 17px;
  margin: 0;
  font-family: "Lexend Exa", sans-serif;
  font-size: 14px;
}

.rules-text p {
  text-align: left;
  margin-left: 17px;
  margin-top: 17px;
  font-family: "Lexend Exa", sans-serif;
  font-size: 14px;
} 

.game-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 24px;
}

.game-header {
  display: flex;
  gap: 16px;
}

.timeout-text,
.success-text {
  font-family: "Lexend Exa", sans-serif;
  font-size: 16px;
  margin: 0;
}

.movesCount,
.timeLeft {
  font-family: "Lexend Exa", sans-serif;
  font-size: 16px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
  background-color: #FFDF99;
  border-radius: 20px;
  padding: 8px 20px;
  margin: 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  row-gap: 10px;
}

.card {
  aspect-ratio: 4 / 3;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid #6798C0;
  background-color: #fff;
}

.exit-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #FFDF99;
  height: 236px;
  width: 100%;
  max-width: 630px;
  border-radius: 20px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.exit-window-text {
  color: black;
  font-family: "Gajraj One", sans-serif;
  font-size: 32px;
  text-align: center;
  max-width: 480px;
  width: 100%;
}

.exit-window-buttons {
  max-width: 450px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
