body {
  background-color: #FFFAEB;
  height: 100%;
  margin: 0;
}

.game-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.game {
  margin: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  align-self: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.sidebar {
  background-color: #6798C0;
  border-radius: 20px;
  width: 236px;
  height: 631px;
}

.Logo {
  margin-top: 36px;
  color: black;
  font-family: "Gajraj One", sans-serif;
  font-size: 32px;
}

.level-select {
  box-shadow: inset 0px 2px 5px #000000;
  margin-top: 36px;
  display: flex;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
  background-color: #99D6EA;
  border-radius: 20px;
  height: 120px;
  width: 204px;
}

.rules-container {
  box-shadow: inset 0px 2px 5px #000000;
  margin-top: 36px;
  display: flex;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
  background-color: #99D6EA;
  border-radius: 20px;
  height: 180px;
  width: 204px;
}

.rules-text ul {
  list-style: none;
  text-align: left;
  padding: 17px;
  margin: 0;
}

.rules-text p {
  text-align: left;
  margin-left: 17px;
  margin-top: 17px;
} 

.game-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  margin-left: 24px;
}

.game-header {
  display: flex;
  gap: 16px;
}

.movesCount,
.timeLeft {
  font-family: "Lexend Exa", sans-serif;
  font-size: 16px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
  background-color: #FFDF99;
  border-radius: 20px;
  padding: 8px 20px;
  margin: 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  height: 581px;
}

.card {
  aspect-ratio: 4 / 3;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid #6798C0;
  background-color: #fff;
}