.text-body {
    height: 42px;
    max-width: 550px;
    width: 100%;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 2px 5px;
        color: black;
    font-family: "Lexend Exa", sans-serif;
    font-size: 14px;
    padding: 10px;
}

::placeholder {
    color: black;
    font-family: "Lexend Exa", sans-serif;
    font-size: 14px;
    margin-left: 20px;
}